.guitar__thumb {
  position: relative;
  img {
    width: 100%;
    border: 1px solid $gray-light;
  }
}

.guitar__thumb__container {
  padding-top: 2rem;
  h2 {
    text-align: center;
  }
}

.guitar__thumb__label {
  color: $gray-dark;
  position: relative;
  font-size: 0.875rem;
  font-style: italic;
  text-align: center;
  padding: 0.25rem;
}


.guitar__thumb__label--name {
  // background: rgba(255,255,255,0.9);
  // border: 1px solid $gray-light;
  // padding: 0.5rem;
}

.guitar__thumb__label--price {
  // background: rgba(255,255,255,0.7);
  // border-top: 1px solid $gray-light;
  // border-right: 1px solid $gray-light;
  // border-bottom: 1px solid $gray-light;
  // padding: 0.5rem;
  display: none;
}


