/* Base Styles */

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Montserrat', helvetica, arial, sans-serif;
}

.Logo {
  width: 200px;
  height: 90px;
  background-image: url('../img/Schillaci_Guitars_Logo.png');
  background-repeat: no-repeat;
  background-position: center;
}