.guitar__thumb {
  width: 25%;
  display: inline-block;
}

.guitar__thumb__label {
  color: $white;
  position: relative;
  top: -2rem;
}


.guitar__thumb__label--name {
  background: rgba(0,0,0,0.8);
  padding: 0.5rem;
}

.guitar__thumb__label--price {
  background: rgba(0,0,0,0.5);
  padding: 0.5rem;
}