.necks__info {
  width: calc(100% - 620px);
  padding-right: 2rem;
  display: inline-block;
  vertical-align: top;
}

.necks__info p:first-child {
  margin-top: 0;
}

.necks__pictures {
  width: 620px;
  display: inline-block;
  img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
}