.SignUpForm {
  width: 100%;
  max-width: 512px;
  margin: 4rem auto 0;
  text-align: center
}

.SignUpForm__legal {
  margin-top: 2rem;
}

#g-recaptcha {
  margin-bottom: 1rem;
  div {
    margin: 0 auto;
  }
}