
.home__tagline {
  text-align: center;
  text-align: center;
  margin-bottom: 1rem;
  h1 {
    margin-bottom: 0;
  }
  p {
    margin: 1rem 0 1.5rem;
  }
}

.home__testimonial {
  background: $accent-primary;
  padding: 2rem;
  margin-top: 3rem;
  border-bottom: 3px solid #ffffff;
  h2 {
    color: $white;
  }
  p {
    color: $white;
  }
}

.home__necks {
  background: rgba(255,255,255,0.8);
  width: 100%;
  max-width: 360px;
  padding: 2rem;
  margin-top: 2.5rem;
  @media (max-width: $mq-tablet) {
    margin-top: 0;
  }
  @media (max-width: $mq-mobile) {
    text-align: center;
    max-width: 100%;
    padding: 2rem 1rem;
  }
}

.home__logo {
  @include clearfix();
  padding: 5rem 0;
  .Logo {
    margin: 0 auto;
    float: none;
  }
}
