header {
  position: relative;
}
.header {
  border-bottom: 1px solid $gray-light;
  position: fixed;
  width: 100%;
  max-width: 1024px;
  z-index: 1000;
}

.Logo {
  width: 150px;
  height: 68px;
  background-image: url('../img/Schillaci_Guitars_Logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  float: left;
}

.header__tagline {
  float: right;
  margin-top: 2rem;
}

nav {
  clear: both;
  padding-top: 1rem;
  font-size: 0.875rem;
  a {
    color: $gray-mid;
    text-decoration: none;
    margin-right: 1.5rem;
  }
  a:last-child {
    margin-right: 0;
  }
  a:hover {
    color: $accent-primary;
  }
}

@media (max-width: $mq-mobile) {
  .header {
    position: static;
  }
  
  nav a {
    margin-right: 1rem;
  }
}

@media (max-width: $mq-tablet) {
  .Logo {
    float: none;
    margin: 0 auto;
  }

  .header__tagline {
    display: none;
  }

  nav {
    text-align: center;
  }
}